<div class="l-main-layer">

  <div class="l-main-layer__desktop-logo">
    <div class="icon _whiteLocal"></div>
    <div class="icon _desktopMeLogo"></div>
  </div>

  <div class="l-main-layer__mobile-logo">
    <div class="icon _blackLocal"></div>
    <div class="icon _mobileMeLogo"></div>
  </div>
  <div class="l-main-layer__main-content">
    <div class="l-main-layer__text-block">
      <%= textBlock()%>
    </div>
    <div class="l-main-layer__counter-block">
      <%= counterBlock(counterBlockData)%>
    </div>
  </div>

  <div class="l-main-layer__notification-block">
    <%= notificationBlock()%>
  </div>
</div>
