$text-color: #1b1e2d;
$bold-text-color: #1a1a1a;
$link-text-color: #e16a49;
$white-text-color: #f7f7f7;
$mailing-bg-color: #69268c;
$mailing-text-color: #fad100;

$image_dir: "../img/";

body {
  /* width: 1280px;
  margin: 0 auto; */

  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  .content {
    height: 100vh;
  }
/*   .content-container {
    flex: 1 0 auto;
  } */

/*   footer {
    flex: 0 0 auto;
  }

  header > div,
  .content > div,
  footer > div {
    width: 100%;
    padding: 0 105px;
    margin: 0 auto;
  } */
}

.link-color {
  color: $link-text-color;
}

%image-wrapper {
  background-size: cover;
  overflow: hidden;
}

@mixin vertical-bar($height, $color) {
  height: $height;
  border-left: 1px solid $color;
}

@mixin svg-icon($width, $height, $name, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  background-color: none;
  -webkit-mask-image: url($image_dir+$name+".svg");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-image: url($image_dir+$name+".svg");
  mask-repeat: no-repeat;
  mask-size: 100%;
}

@mixin set-link-color($color) {
  & a {
    text-decoration: none;
  }
  & a:link {
    color: $color;
  }
  & a:visited {
    color: $color;
  }
  & a:hover {
    color: $color;
  }
  & a:active {
    color: $color;
  }
}

%hidden-absolute-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bfbfbf;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

%border-bottom {
  border-bottom: 1px solid rgba(151, 151, 151, 0.18);
}

%card-border {
  border-radius: 3px;
  border: solid 1px #eeeeee;
}

%card-border-with-shadow {
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.41);
}

.display-flex {
  display: flex;

  &._row {
    flex-direction: row;
  }
  &._column {
    flex-direction: column;
  }
  &._row-wrap {
    flex-flow: row wrap;
  }
  &._a-center {
    align-items: center;
  }
  &._a-start {
    align-items: flex-start;
  }
  &._a-end {
    align-items: flex-end;
  }
  &._j-center {
    justify-content: center;
  }
  &._j-between {
    justify-content: space-between;
  }
  &._j-end {
    justify-content: flex-end;
  }
}

.icon {
  &._whiteLocal {
    @extend %local-white-logo-icon;
  }
  &._blackLocal {
    @extend %local-black-logo-icon;
  }
  &._mobileMeLogo {
    @extend %mobile-me-logo-icon;
  }
  &._desktopMeLogo {
    @extend %desktop-me-logo-icon;
  }
  &._vegitables {
    @extend %vegitables-icon;
  }
  
}

.c-button {
  @include font-regular(11px, normal, start, #1a1a1a, 0.1px);
  border-radius: 6px;
  border: 1px solid $link-text-color;
  padding: 9px 0;
  width: 100%;
  background: transparent;
}

//возратное ограничение
.c-age-limit {
  @include font-regular(11px, normal, center, $white-text-color);
  width: 28px;
  height: 28px;
  border-radius: 14px;
  border: 1px solid $white-text-color;
  background-color: rgba(0, 0, 0, 0.21);
}

h1 {
  @include font-intro(25px, 1.36, start);
}

h3 {
  @include font-intro(15px, 1.6);
}
